@import "tailwindcss";

:root {
  color-scheme: light dark;
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252525;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

td {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

th {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
}

tr {
  margin-bottom: 1rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1rem;
}

.BookAppointmentForm option:disabled {
  color: #999;
}
